@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100&display=swap');
// Define fonts for body and headers
$body-font: "Poppins", "sans-serif";
$extra-light-font-weight: 100;
$lighter-font-weight: 200;
$bold-font-weight: 400;
$normal-font-weight: 300;
