<div class="mentor-hero">
  <%= link_to ("Start your journey with MentorMe"), mentors_path, class: "landing-header" %>
  <div class="button-box">
    <%= link_to "Find your mentor", mentors_path, class: "btn-flat-home" %>
    <% if user_signed_in? && current_user.mentor %>
      <% mentor = Mentor.find_by_user_id(current_user.id) %>
      <%= link_to "Manage my Profile", edit_mentor_path((mentor)), class: "btn-ghost" %>
    <% else %>
      <%= link_to "Become a mentor", new_user_registration_path, class: "btn-ghost" %>
    <% end %>
  </div>
  <div class="quote">
    <em class="quote">"Great mentors help us to see beyond our own limitations and unlock our potential to become better developers." <br>
      Addy Osmani, Engineering Manager at Google and Web Development Advocate.</em>
  </div>
</div>
