<div class="mentor-hero">
  <%= link_to raw("Start <strong>your</strong> journey with MentorMe"), mentors_path, class: "landing-header" %>
  <div class="button-box">
    <%= link_to "Find your mentor", mentors_path, class: "btn-flat" %>
    <%= link_to "Become a mentor", edit_user_registration_path, class: "btn-flat" %>
  </div>
  <div class="quote">
    <em class="quote">"Great mentors help us to see beyond our own limitations and unlock our potential to become better developers." <br>
      Addy Osmani, Engineering Manager at Google and Web Development Advocate.</em>
  </div>
</div>
