.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $secondary-color;
  transition: background 0.3s ease;
  font-weight: $normal-font-weight;
}

.btn-flat:hover {
  background: darken($secondary-color, 10%);
  color: white;
}

.btn-color {
  color: $secondary-color;
}

.btn-color:hover {
  color: darken($secondary-color, 10%);
}

.btn-positive {
  background-color: $positive-color;
}

.accepted {
  color: $positive-color;
}

.declined {
  color: $negative-color;
}

.btn-positive:hover {
  background-color: darken($positive-color, 10%);
}

.btn-negative {
  background-color: $negative-color;
}

.btn-negative:hover {
  background-color: darken($negative-color, 10%);
}


.btn-flat-home {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $secondary-color;
  transition: background 0.3s ease;
  opacity: 0.8;
  text-decoration: none;
}

.btn-flat-home:hover {
  background: darken($secondary-color, 10%);
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

.btn-ghost {
  color: $secondary-color;
  background-color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: $normal-font-weight;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.btn-ghost:hover {
  color: $secondary-color;
  background-color: whitesmoke;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: $normal-font-weight;
  opacity: 1;
  text-decoration: none;
}

.btn-booking {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $secondary-color;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-booking:hover {
  background: darken($secondary-color, 10%);
  color: white;
  width: 100%;
}

.button-box {
  min-width: 600px; /* set a minimum width */
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .button-box {
    flex-direction: column;
    align-items: center;
  }

  .btn-flat-home {
    width: 100%;
    margin-bottom: 10px;
  }
  .btn-ghost {
    width: 100%;
    margin-bottom: 10px;
  }
}
