.input {
  padding: 5px;
  border:0;
  border-radius:10px;
  width:13%;
}

.filter{
  font-size: 15px;
  padding: 10px;
}

.btn-flat{
  border-radius:10px;
  border:0;
  padding: 5px;
  width: 75px;
}



.select {
  width: 100%;
  padding:10px;
  border-radius:10px;
}
.text-header{
  text-align: center;
}

.text {
  color: rgb(116, 116, 116);
}

.input {
  color: rgb(116, 116, 116);
}
