.navbar {
  width: 100%;
  background-color: $light-gray;
  height: 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: $secondary-color;
}

.nav-link:hover {
  color: $tertiary-color;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 10px;
  padding: 0;
}
